#container{
width:960px;
height:1000px;
margin:0 auto;
}
#ustBanner{
width:960px;
height:90px;
}
#logo{
width:160px;
height:90px;
float:left;
}
#arkaPlanFoto{
width:800px;
height:90px;
float:left;
}
#aranacak{
width:120px;
color:grey;
padding:2px;
position:absolute;
top:75px;
left:460px;
}
#search{
width:20px;
height:20px;
position:absolute;
top:77px;
left:567px;
}


#giris{
font-size:16px;
position:absolute;
top:79px;
left:635px;
}
#giris:hover{ 
color:white;
}
#girisFoto{
width:20px;
height:20px;
position:absolute;
top:77px;
left:612px;
}


#uye{
font-size:16px;
position:absolute;
top:79px;
left:745px;
}
#uye:hover{ 
color:white;
}
#uyeFoto{
width:20px;
height:20px;
position:absolute;
top:77px;
left:722px;
}


#sepet{
font-size:16px;
position:absolute;
top:79px;
left:845px;
}
#sepet:hover{ 
color:white;
}
#sepetFoto{
width:20px;
height:20px;
position:absolute;
top:77px;
left:822px;
}



#menu{
width:800px;
height:40px;
background-color:#4b6f8c;
float:right;
}
li{
display:inline;
color:#fff;
font-size:18px;
padding-left:9px;
}
ul{
padding-top:0px;
}
li:hover { 
color:black;
}


#dikeyMenu{
width:160px;
height:700px;
background-color:#d7dce6;
font-weight: bold;
}

.kutu1 {
width:160px;
height:40px;
background:#503d37;
position: absolute;
top:98px;
color:white;
text-indent:10px;
}
.kutu2 {
width:160px;
height:40px;
background:#503d37;
position: absolute;
top:298px;
color:white;
text-indent:10px;
}
.kutu3 {
width:160px;
height:40px;
background:#503d37;
position: absolute;
top:498px;
color:white;
text-indent:10px;
}
#makaralar{
position: absolute;
top:145px;
color:black;
text-indent:5px;
}
#makaralar:hover{ 
color:white;
}
#Kamislar{
position: absolute;
top:175px;
color:black;
text-indent:5px;
}
#Kamislar:hover{ 
color:white;
}
#yem{
position: absolute;
top:205px;
color:black;
text-indent:5px;
}
#yem:hover{ 
color:white;
}
#kutular{
position: absolute;
top:235px;
color:black;
text-indent:5px;
}
#kutular:hover{ 
color:white;
}

#aksesuar{
position: absolute;
top:345px;
color:black;
text-indent:5px;
}
#aksesuar:hover{ 
color:white;
}
#tekne{
position: absolute;
top:375px;
color:black;
text-indent:5px;
}
#tekne:hover{ 
color:white;
}
#kampMalzeme{
position: absolute;
top:405px;
color:black;
text-indent:5px;
}
#kampMalzeme:hover{ 
color:white;
}

#berkley{
position: absolute;
top:555px;
color:black;
text-indent:5px;
}
#berkley:hover{ 
color:white;
}
#orvis{
position: absolute;
top:585px;
color:black;
text-indent:5px;
}
#orvis:hover{ 
color:white;
}
#penn{
position: absolute;
top:615px;
color:black;
text-indent:5px;
}
#penn:hover{ 
color:white;
}
#rapalaa{
position: absolute;
top:645px;
color:black;
text-indent:5px;
}
#rapalaa:hover{ 
color:white;
}







#icerik{
width:789px;
height:648px;
background-color:#ffffff;
position:absolute;
top:150px;
left:306px;
}
#makara:hover{ 
color:blue;
}
#makaraFoto{
width:150px;
height:150px;
position:absolute;
top:20px;
left:60px;
}
#makara{
font-size:16px;
position:absolute;
top:190px;
left:40px;
}
#makaraFiyat{
font-size:16px;
position:absolute;
top:215px;
left:99px;
color:red;
}

#misina:hover{ 
color:blue;
}
#misinaFoto{
width:150px;
height:150px;
position:absolute;
top:20px;
left:330px;
}
#misina{
font-size:16px;
position:absolute;
top:190px;
left:300px;
}
#misinaFiyat{
font-size:16px;
position:absolute;
top:215px;
left:380px;
color:red;
}

#cadir:hover{ 
color:blue;
}
#cadirFoto{
width:150px;
height:150px;
position:absolute;
top:20px;
left:600px;
}
#cadir{
font-size:16px;
position:absolute;
top:190px;
left:625px;
}
#cadirFiyat{
font-size:16px;
position:absolute;
top:215px;
left:645px;
color:red;
}


#rapala:hover{ 
color:blue;
}
#rapalaFoto{
width:150px;
height:150px;
position:absolute;
top:350px;
left:600px;
}
#rapala{
font-size:16px;
position:absolute;
top:515px;
left:612px;
}
#rapalaFiyat{
font-size:16px;
position:absolute;
top:539px;
left:645px;
color:red;
}

#kamis:hover{ 
color:blue;
}
#kamisFoto{
width:150px;
height:150px;
position:absolute;
top:350px;
left:330px;
}
#kamis{
font-size:16px;
position:absolute;
top:515px;
left:338px;
}
#kamisFiyat{
font-size:16px;
position:absolute;
top:538px;
left:380px;
color:red;
}

#bicak:hover{
color:blue;
}
#bicakFoto{
width:150px;
height:150px;
position:absolute;
top:350px;
left:60px;
}
#bicak{
font-size:16px;
position:absolute;
top:515px;
left:70px;
}
#bicakFiyat{
font-size:16px;
position:absolute;
top:538px;
left:99px;
color:red;
}



#altlik{
width:960px;
height:180px;
background-color:#d7dce6;
position:absolute;
top:860px;
}
#hakkimizda{
font-size:16px;
position:absolute;
top:30px;
left:50px;
}
#hakkimizda:hover{
color:blue;
}
#gizlilik{
font-size:16px;
position:absolute;
top:110px;
left:50px;
}
#gizlilik:hover{
color:blue;
}
#yardim{
font-size:16px;
position:absolute;
top:30px;
left:300px;
}
#yardim:hover{
color:blue;
}
#iletisim{
font-size:16px;
position:absolute;
top:110px;
left:300px;
}
#iletisim:hover{
color:blue;
}
#sss{
font-size:16px;
position:absolute;
top:30px;
left:550px;
}
#sss:hover{
color:blue;
}
#iade{
font-size:16px;
position:absolute;
top:110px;
left:550px;
}
#iade:hover{
color:blue;
}
#takip{
font-size:16px;
position:absolute;
top:30px;
left:800px;
}
#facebook{
width:40px;
height:40px;
position:absolute;
top:80px;
left:810px;
}
#twitter{
width:50px;
height:50px;
position:absolute;
top:75px;
left:865px;
}